@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #000;
  color: #fff;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.25s ease;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
ul li {
  margin-left: 0.75em;
  margin-right: 0.75em;
}
ul:hover a {
  color: #575757;
}
ul:hover a:hover {
  color: #5cdb95;
  box-shadow: 0 2px 0 0 currentcolor;
}
